<html>
    <head>
        <title>Screwie blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Screwie Blog</a></h1>
        </div>

        <div>
            <p>published: 30.10.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Блять, все сложнее и сложнее, я уже запутался с этой херней :(</p>
        </div>

        <div>
            <p>published: 30.10.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Ну ничо, прорвемся. Но это не точно</p>
        </div>
    </body>
</html>